.features-container{
    .container{
        @include flexbox;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
        .block-features{
            width: 33.33%;
            margin: 0 13px;
            .img-icon{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 2px solid black;
                margin-bottom: 10px;
                position: relative;
                margin: auto;
                margin-bottom: 15px;
                .icon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .title{
                @include rem("font-size",18);
                letter-spacing: 1px;
                @include rem("line-height",30);
                color: #000000;
                font-weight: 700;
                font-family: $font-lato;
                position: relative;
                margin-bottom: 15px;
                
                &:after {
                    content: '';
                    width: 80px;
                    height: 1px;
                    background: #F57365;
                    position: absolute;
                    left: 50%;
                    bottom: -20%;
                    transform: translateX(-50%);
                }
            }
            .text{
                @include rem("font-size",16);
                letter-spacing: 1px;
                @include rem("line-height",18);
                font-family: $font-lato;
                font-weight: 100;
              
       
            }
            
        }
    }
}