.footer-container{
    .container{
        max-width: 100%;
        .row{
            height: 100px;
            background-color: #eae8e8;   
            @include flexbox;
            @include justify-content(space-around);
            @include align-items(center);
            @include rem("font-size",14);
            color: #8b8b8b;
            font-family: $font-lato;
            font-weight: 300;
            border-top: 2px solid $cl-footer;
            .text2{
                letter-spacing: 3px;
            }
        }
    }
}