.review-container {
    overflow: hidden;
    .review-background {
        width: 100%;
        height: auto;
    }
    .slider {
        width: 66%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .avatar-border {
        display: inline-block;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #fff;
        overflow: hidden;
        border: 5px solid #938C94;
        margin-bottom: 30px;
        .avatar {
            max-width: 100%;
            height: auto;
        }
    }
    .review-text, .blockquote-footer {
        color: white;
        @include rem("font-size", 30);
        @include rem("line-height", 36);
        font-weight: 250;
        font-family: $font-lato;
    }

    .blockquote-footer {
        @include rem("font-size", 18);
    }

    .blockquote-footer {
        font-style: italic;
    }

    .review-text::before {
        content: open-quote;
    }
    .review-text::after {
        content: close-quote;
    }
    .blockquote-footer::before {
        content: '- ';
    }
    .blockquote-footer::after {
        content: ' -';
    }

    .slick-dots {
        position: absolute;
        left: 50%;
        bottom: -15%;
        transform: translateX(-50%);
        li button {
            background: rgba(255, 255, 255, 0.3);
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        li:hover button, .slick-active button{
            background: rgba(255, 255, 255, 1);
        }
    }
}