.slide-container{
    .container{
        .row{
            .col-md-12{
                .img-slide{
                    .img-ss{
                        position: relative;
                        top:-10px;
                        width: 100%;
                    }
                }
                
            }
        }
    }
}