<section class="banner-container">
  <div class="container-banner">
      <div class="banner-image"><img src="images/background-banner-top.png"/></div>
      <div class="page-banner-text-center">
        <h5 class="line1"><b>Find your Favorite</b></h5>
        <div class="line2"><h1><b>RECIPES</b></h1></div>
        <div class="line3"><a href="#"><button class="ripple"><b>GET STARTED</b></button></a></div>
        <div class="line4"><p>OR SEND US YOUR OWN RECIPES AND <u>GET REWARDED!</u></p></div>
    </div>  
  </div>
</section>