    <section class="cusines-container">
    <div class="container">
        <div class="row1">
            <div class="col-md-12">
                <h4 class="heading-title text-center">BROWSE BY CUISINES</h4>
            </div>
        </div>
        <div class="row2">
            <div class="img-eat wow flash" data-wow-duration="2s">
                <div class="photobox__previewbox">
                    <img src="images/eat-item-1.png"/>
                </div>
                <div class="title_contai">
                    <p class="price">327 Recipes</p>
                    <h2 class="title">ITALIAN</h2>
                </div>
            </div>
           <div class="img-eat wow rollOut" data-wow-duration="2s">
                <div class="photobox__previewbox">
                    <img src="images/eat-item-10.png"/>
                </div>
                <div class="title_contai">
                    <p class="price">856 Recipes</p>
                    <h2 class="title">INDAN</h2>
                </div>
            </div>
            <div class="img-eat wow rollIn" data-wow-duration="2s">
                <div class="photobox__previewbox">
                    <img src="images/eat-item-2.png"/>
                </div>
                <div class="title_contai">
                    <p class="price">27 Recipes</p>
                    <h2 class="title">FRENCH</h2>
                </div>
            </div>
            <div class="img-eat wow swing" data-wow-duration="2s">
                <div class="photobox__previewbox">
                    <img src="images/eat-item-3.png"/>
                </div>
                <div class="title_contai">
                    <p class="price">174 Recipes</p>
                    <h2 class="title">STEAKHOUSE</h2>
                </div>
            </div>
            <div class="img-eat wow slideOutRight" data-wow-duration="2s">
                <div class="photobox__previewbox">
                    <img src="images/eat-item-4.png"/>
                </div>
                <div class="title_contai">
                    <p class="price">731 Recipes</p>
                    <h2 class="title">SEAFOOD</h2>
                </div>
            </div>
         </div>
        <div class="row2">
            <div class="img-eat wow slideInLeft" data-wow-duration="2s">
                <div class="photobox__previewbox">
                    <img src="images/eat-item-5.png"/>
                </div>
                <div class="title_contai">
                    <p class="price">327 Recipes</p>
                    <h2 class="title">SUSHI</h2>
                </div>
            </div>
           <div class="img-eat wow bounceInUp" data-wow-duration="2s">
                <div class="photobox__previewbox">
                    <img src="images/eat-item-3.png"/>
                </div>
                <div class="title_contai">
                    <p class="price">529 Recipes</p>
                    <h2 class="title">MEXICAN</h2>
                </div>
            </div>
            <div class="img-eat wow lightSpeedOut" data-wow-duration="2s">
                <div class="photobox__previewbox">
                    <img src="images/eat-item-4.png"/>
                </div>
                <div class="title_contai">
                    <p class="price">145 Recipes</p>
                    <h2 class="title">CHINESE</h2>
                </div>
            </div>
            <div class="img-eat wow flipOutY" data-wow-duration="2s">
                <div class="photobox__previewbox">
                    <img src="images/eat-item-5.png"/>
                </div>
                <div class="title_contai">
                    <p class="price">327 Recipes</p>
                    <h2 class="title">PIZZA</h2>
                </div>
            </div>
            <div class="img-eat wow flip" data-wow-duration="2s">
                <div class="photobox__previewbox">
                    <img src="images/eat-item-6.png"/>
                </div>
                <div class="title_contai">
                    <p class="price">1427 Recipes</p>
                    <h2 class="title">AMERICAN</h2>
                </div>
            </div>
         </div>
     </div>
</section>