<section class="features-container">
  <div class="container">
        <div class="block-features">
            <div class="img-icon">
                <img src="images/icon-eat.png" class="icon">
            </div>
            <h3 class="title">GET INSPIRED</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque Wvel enim a elit viverra elementuma. Aliquam erat volutpat.</p>
        </div>
        <div class="block-features">
            <div class="img-icon">
                <img src="images/icon-money.png" class="icon">
            </div>
            <h3 class="title">GET REWARDED</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.</p>
        </div>
        <div class="block-features">
            <div class="img-icon">
                <img src="images/icon-chef.png" class="icon">
            </div>
            <h3 class="title">GET SOCIAL</h3>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.</p>
        </div>
  </div>
</section>