<section class="features-container">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div><img src="images/icon-eat.png"/></div>
            <h3>GET INSPIRED</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.</p>
        </div>
        <div class="col-md-12">
            <div><img src="images/icon-money.png"/></div>
            <h3>GET REWARDED</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.</p>
        </div>
        <div class="col-md-12">
            <div><img src="images/icon-chef.png"/></div>
            <h3>GET SOCIAL</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.</p>
        </div>
    
    </div>
  </div>
</section>