<section class="introdution-container">
  <div class="container">
    <div class="row">
        <div class="left-contain">
            <div class="img1"><img src="images/iphone5.png"/>
                <div>
                    <img src="images/background_ip.png"/  class="img2">
                </div>
            </div>
            
        </div>
        <div class="right-contain">
            <h3 class="title-intro">INTRODUCING THE FUDI APP</h3>
            <p class="text-p">Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet  felis sit amet diam mollis ullamcorper. Nullam consequat sem a ante vestibulum tristique.Suspendisse tristique lacus ac mattis porta.</p>
            <p class="text-p">Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a massa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis.  Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan.</p>
            <p class="text-p">Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam  malesuada. Duis vehicula a nibh id hendrerit. Donec sit amet ultrices ante, a mattis massa. </p>
            <div class="logo-ac">
                <div><img src="images/app-store.png"/></div>
                <div><img src="images/ch-play.png"/></div>
            </div>

        </div>
    </div>
  </div>
</section>