<section class="number-container">
    <div class="container">
        <div class="row">
            <div class="count-number">
                <h2 class="count-price">23,567</h2>
                <p class="text">Recipes Avaitable</p>
            </div>
            <div class="count-number">
                <h2 class="count-price">431,729</h2>
                <p class="text">Active Users</p>
            </div>
            <div class="count-number">
                <h2 class="count-price">892,173</h2>
                <p class="text">Positive Reviews</p>
            </div>
            <div class="count-number">
                <h2 class="count-price">56,581</h2>
                <p class="text">Photo and Videos</p>
            </div>
            <div class="count-number">
                <h2 class="count-price">3,182</h2>
                <p class="text">Spices and Herbs</p>
            </div>
        </div>
    </div>
</section>