<section class="number-container">
    <div class="container">
        <div class="row">
            <div class="count-number">
                <h2 class="count-price"><span class="counter">23,567</span></h2>
                <p class="text">Recipes Avaitable</p>
            </div>
            <div class="count-number">
                <h2 class="count-price"><span class="counter">431,729</span></h2>
                <p class="text">Active Users</p>
            </div>
            <div class="count-number">
                <h2 class="count-price"><span class="counter">892,173</span></h2>
                <p class="text">Positive Reviews</p>
            </div>
            <div class="count-number">
                <h2 class="count-price"><span class="counter">56,581</span></h2>
                <p class="text">Photo and Videos</p>
            </div>
            <div class="count-number">
                <h2 class="count-price"><span class="counter">3,182</span></h2>
                <p class="text">Spices and Herbs</p>
            </div>
        </div>
    </div>
</section>