<section class="slide-container">
    <div class="container">
        <div class="abso">
            <img src="images/Rectangle 6.png" class="img1">
		    <div class="rela"> 
                <img src="" class="center-image">
            </div>
            <div class="smo">
                <div class="s-content">
                    <div class="img-icon">
                        <img src="images/person.png" class="center_img"/>
                    </div>
                    <p class="s-text">
                         “I am so happy because I found this recipe, and it just made my life easier. <br>Thanks so much for sharing!”
                    </p>
                    <p class="s-text">
                        <span class="s-person" >- Michael Dawson, San Francisco, CA -</span>
                    </p>	
                </div>
                <div class="s-content">
                    <div class="img-icon" style="background-image:url(http://thuthuatphanmem.vn/uploads/2018/05/23/wallpaper-4k-hinh-nen-4k-chu-meo-cuc-dang-yeu_101305276.jpg);"></div>
                    <h2> SLICE 2 </h2>
                    <h3> SLICE 2 </h3>				
                </div>				
                <div class="s-content">
                    <div class="img-icon" style="background-image:url(http://thuthuatphanmem.vn/uploads/2018/05/23/wallpaper-4k-hinh-nen-4k-thiet-ke-cuc-dep_101257772.jpg);"></div>
                    <h2> SLICE 3 </h2>
                    <h3> SLICE 3 </h3>		
                </div>		
            </div>	
            <div class="container_vongtron">
                <div class="vongtronnho" onclick="currentSlide(0)"> </div>
                <div class="vongtronnho" onclick="currentSlide(1)"> </div>
                <div class="vongtronnho" onclick="currentSlide(2)"> </div>
            </div> 
    </div>		
   </div>       
</section>