<section class="slide-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="img-slide">
                        <img src="images/slide_slick.png"/ class="img-ss">
                    </div>
                    <div class="s-content">
                        <img src="/images/person.png" class="img-person">
                        <p class="s-text">
                            “I am so happy because I found this recipe, and it just made my life easier. Thanks so much for sharing!”
                        </p>
                        <p class="s-current">
                            <span class="s-person" >- Michael Dawson, San Francisco, CA -</span>
                        </p>
                    </div>
            </div>
         </div>
     </div>       
</section>