<section class="review-container">
    <div class="container-fluid p-0 position-relative">
        <img class="review-background" src="images/review-background.png" alt="review-background">

        <div class="slider" id="review-slider">
            <div class="slider-item">
                <blockquote class="blockquote text-center">
                    <div class="avatar-border">
                        <img class="avatar" src="images/Layer 18.png" alt="example-avatar">
                    </div>
                    <p class="review-text">I am so happy because I found this recipe, and it just made my life easier.Thanks so much for sharing!</p>
                    <footer class="blockquote-footer">Michael Dawson, San Fracisco, CA</footer>
                </blockquote>
            </div>
            <div class="slider-item">
                <blockquote class="blockquote text-center">
                    <div class="avatar-border">
                        <img class="avatar" src="images/Layer 18.png" alt="example-avatar">
                    </div>
                    <p class="review-text">Review 2. Thanks so much for sharing!</p>
                    <footer class="blockquote-footer">Author 2</footer>
                </blockquote>
            </div>
            <div class="slider-item">
                <blockquote class="blockquote text-center">
                    <div class="avatar-border">
                        <img class="avatar" src="images/Layer 18.png" alt="example-avatar">
                    </div>
                    <p class="review-text">Review 3 Thanks so much for sharing!</p>
                    <footer class="blockquote-footer">Author 3</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>