<!-- build:js(.) script/vendor.min.js -->
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbuild -->
<!-- build:js script/script.min.js -->
<script type="text/javascript" src="scripts/script.js"></script>
<!-- endbuild -->





<!-- import bootstrap JS using CDN-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- endbuild -->
<!-- import slick JS using CDN-->
<script type="text/javascript" src="scripts/slick.min.js"></script>